# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/


# ===============================
# Logs & temp
# ===============================
logs/
*.log
*.tmp
*.temp

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
.spyderproject
.spyproject

# ===============================
# Environment variables
# ===============================
.env
.env.*



# ===============================
# Build / cache
# ===============================
build/
dist/
*.egg-info/